/*----------------------------------------------
    ## Banner
----------------------------------------------*/
.banner-inner {
	position: relative;
	z-index: 2;
	.banner-btn {
		height: 35px;
		background: rgba(255,255,255,0.2);
		display: inline-block;
		border-radius: 35px;
		line-height: 35px;
		padding: 0 30px;
		font-size: 14px;
		font-weight: 400;
		color: #fff;
		margin-top: 20px;
	}
	.sub-title {
		position: relative;
		display: inline-block;
		margin-bottom: 0;
		&.sub-title-after {
			&:after {
				position: absolute;
				content: '';
			    right: -50px;
				top: 13px;
				background: var(--main-color);
				height: 1px;
				width: 30px;
			}
		}
	}
	.title {
		margin-top: 15px;
		span {
			color: var(--main-color);
		}
	}
	.content {
		margin-top: 15px;
	}
	.btn-wrap {
		margin-top: 35px;
	}
	.b-animate-1 {
    	animation: 1.5s 0.2s fadeInUp both;
	}
	.b-animate-2 {
		animation: 1.5s 0.4s fadeInUp both;
	}
	.b-animate-3 {
		animation: 1.5s 0.6s fadeInUp both;
	}
	.b-animate-4 {
		animation: 1.5s 0.8s fadeInUp both;
	}
	.b-animate-5 {
		animation: 1.5s 0.9s fadeInUp both;
	}

	.animate-img-1 {
		position: absolute;
	    left: -74px;
    	top: -68px;
	}

	&.style-white {
		.sub-title {
			color: #fff;
		}
		.title {
			color: #fff;
		}
		.content {
			color: #fff;
		}
	}
}
.b-animate-thumb {
	animation: 1.5s 0.4s fadeInRight both;
	position: relative;
	.animate-img-1 {
		position: absolute;
	    right: 140px;
	    bottom: -26px;
	    z-index: -2;
	}
}

.banner-search-inner {
	position: relative;
	button {
		position: absolute;
		right: 0;
		background: var(--main-color);
		top: 0;
		height: 60px;
		padding: 0 25px;
		border: 0;
		color: #fff;
		border-radius: 0 5px 5px 0;
	}
	input {
		height: 60px;
		width: 100%;
		padding: 0 80px 0 22px;
		border-radius: 5px;
		border: 0 !important;
		box-shadow: 0px 20px 40px 0px rgba(0, 11, 40, 0.06) !important;
		background: #fff;
		&::placeholder {
			color: #bebdbd;
		}
	}
}

.banner-area-1 {
	padding: 190px 0 0 0;
	background-position: 0;
	.thumb {
		margin-right: -240px;
	}
}
.banner-area-2 {
    padding: 210px 0 0 0;
    background-size: 100% 100%;
}

.banner-area-3 {
	padding: 270px 0 250px;
	background-size: cover;
	background-position: center;
}

.banner-form-inner {
	border: 1px solid #fff;
	padding: 50px 35px;
	border-radius: 6px;
	h5 {
		color: #fff;
		margin-bottom: 25px;
	}
}