/*---------------------------------------
    ## Button
---------------------------------------*/
.btn {
    height: 52px;
    line-height: 52px;
    padding: 0 36px;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    border: 0;
    font-size: 15px;
    @include transition(all, 0.5s, ease);
    font-weight: 500;
    border-radius: 3px;
    z-index: 0;
    &:focus,
    &:active {
        outline: 0;
        box-shadow: none;
    }
}
.btn-base {
    color: #fff;
    background:  var(--main-color);
    &:hover {
        color: #fff;
    }
}
.btn-white {
    background: #fff;
    &:hover,
    &:focus {
        color: #fff;
        background: var(--main-color);
    }
}
.btn-border-white {
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.5);
    line-height: 48px;
    &:hover,
    &:focus {
        color: #fff;
        background: var(--main-color);
        border: 2px solid var(--main-color);
    }
}
.btn-border-black {
    color: var(--heading-color);
    border: 2px solid rgba(0, 33, 71, 0.2);
    line-height: 48px;
    &:hover,
    &:focus {
        color: #fff;
        border: 2px solid var(--main-color);
    }
}
.btn-transparent {
    color: var(--paragraph-color);
    &:hover,
    &:focus {
        color: #fff;
        background: var(--main-color);
    }
}
.btn-base-m {
  transition: 0.5s;
  color: #fff;
  background: linear-gradient(90deg, var(--c1, #7300ff), var(--c2, #9b00ff) 51%, var(--c1, #7300ff)) var(--x, 0)/ 200%;
}
.btn-base-m:hover { 
    --x: 100%; 
    color: #fff;
}


.read-more-text {
    color: var(--main-color);
    font-weight: 500;
    position: relative;
    padding-right: 22px;
    i {
        font-size: 18px;
        position: absolute;
        top: 1px;
        padding-left: 3px;
        transition: 0.4s;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        background: var(--main-color);
        height: 1px;
        width: 80%;
        transition: 0.4s;
    }
    &:hover {
        i {
            padding-left: 6px;
        }
        &:after {
            width: 100%;
        }
    }
}

/*------------------------------------------------
    ## Back Top
------------------------------------------------*/
.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 44px;
    height: 44px;
    color: $color-white;
    background-color: var(--main-color);
    text-align: center;
    line-height: 44px;
    z-index: 99;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: none;
    animation: backto-top-bounce 4s infinite ease-in-out;
}
@-webkit-keyframes backto-top-bounce {
  0% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-5px); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-5px); } 
}

@keyframes backto-top-bounce {
  0% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-5px); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-5px); } 
}


/*-----------------------------------------
    ## Preloader Css
-------------------------------------------*/
.pre-wrap{
    position: fixed;
    content: '';
    transform: translate(-100%, -240%);
    font-size:62px;
}
.preloader-inner {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999999999;
    background-color: #030724;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .cancel-preloader{
        position: absolute;
        bottom: 30px;
        right: 30px;
       a{
            background-color: $color-white;
            font-weight: 600;
            text-transform: capitalize;
            color: var(--main-color);
            width: 200px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            border-radius: 30px;
            display: block;
            @include transition(all, 0.4s, ease);
            &:hover{
                background-color: var(--heading-color);
                color: $color-white;
            }
       }
    }
}
.spinner {
  margin: 120px auto;
  width: 60px;
  height: 60px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: var(--main-color);
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*-----------------------------------------
    ## video 
------------------------------------------*/
.video-play-btn {
    border-radius: 50%;
    background: rgb( 247, 247, 247 );
    width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 92px;
    position: relative;
    z-index: 0;
    text-align: center;
    animation: ripple-white3 2.5s linear infinite;
    // &:after {
    //     z-index:-1;
    //     content:'';
    //     position: absolute;
    //     width: 110px;
    //     height: 110px;
    //     border-radius: 50%;
    //     background: rgba(247, 247, 247, 0.4);
    //     top: -15px;
    //     left: -15px;
    // }
    i {
        color: var(--main-color);
        margin-left: 6px;
        font-size: 28px;
    }
}



/*-----------------------------------------
    ## Breadcumb 
------------------------------------------*/
.breadcrumb-area {
    padding: 245px 0 112px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #0A1851 -0.7%, rgba(10, 24, 81, 0) 113.23%);
        height: 100%;
        @include transition(all, 0.6s, ease);
        z-index: 0;
    }
    .breadcrumb-inner {
        position: relative;
        z-index: 2;
    }
    .page-title {
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 5px;
        color: $color-white;
    }
    .page-list {
        margin: 0;
        padding: 0;
        color: $color-white;
        li {
            font-size: 18px;
            font-weight: 200;
            list-style: none;
            display: inline-block;
            position: relative;
            padding-left: 8px;
            &:after {
                position: absolute;
                left: 0;
                top: 1px;
                content: "/";
                font-family:'fontawesome';
            }
            &:first-child {
                padding-left: 0;
                &:after {
                    display: none;
                }
            }
        }
    }
}

/********* social-media *********/
.social-media {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 2;
    li {
        display: inline-block;
        margin: 0 2px;
        a {
            height: 35px;
            width: 35px;
            line-height: 35px;
            text-align: center;
            border-radius: 50%;
            display: inline-block;
            background: #fff;
            color: #3F517E;
            &:hover {
                color: #120F2D;
            }
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.social-media-2 {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 2;
    li {
        display: inline-block;
        margin: 0 7px;
        a {
            line-height: 35px;
            text-align: center;
            border-radius: 50%;
            display: inline-block;
            color: #fff;
            &:hover {
                color: #120F2D;
            }
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

/********* slider-control *********/
.slider-control-square {
    .owl-nav {
        button {
            height: 45px;
            width: 45px;
            line-height: 45px;
            margin: 0 8px;
            border-radius: 0;
            border: 0;
            transition: 0.4s;
            box-shadow: none;
            color: var(--main-color);
            background: #e4d3f3;
            font-size: 20px;
            padding: 0;
            cursor: pointer;
            &:hover {
                background: var(--main-color);
                color: #fff;
            }
        }
        .owl-prev {
            margin-left: 0;
        }
        .owl-next {
            margin-left: 0;
        }
    }
}

.slider-control-round {
    .owl-nav {
        button {
            height: 45px;
            width: 45px;
            line-height: 45px;
            margin: 0 8px;
            border-radius: 50%;
            border: 0;
            transition: 0.4s;
            box-shadow: none;
            color: var(--main-color);
            background: #e4d3f3;
            font-size: 20px;
            padding: 0;
            cursor: pointer;
            &:hover {
                background: var(--main-color);
                color: #fff;
            }
        }
        .owl-prev {
            margin-left: 0;
        }
        .owl-next {
            margin-left: 0;
        }
    }
}

.slider-control-dots {
    .owl-dots {
        .owl-dot {
            height: 5px;
            width: 30px;
            background: rgba(61, 114, 252, 0.3);
            border: 0;
            border-radius: 0;
            margin: 0 3px;
            position: relative;
            cursor: pointer;
            transition: 0.4s;
            &.active {
                background: var(--main-color);
            }
        }
    }
}

/*--------------------------------------------------------------
# Globals
--------------------------------------------------------------*/
.ratting-inner {
    color: #FFC107;
}
.bg-base {
    background: var(--main-color);
}
.bg-green {
    background: #1DC295;
}
.bg-blue {
    background: #2878EB;
}
.bg-red {
    background: #F14D5D;
}
.bg-gray {
    background: #eae1d6;
}
.bg-sky {
    background: #F9F9F9;
}
.bg-black {
    background: var(--heading-color);
}
.color-base {
    color: var(--main-color);
}
.color-pink {
    color: #f36b9b;
}
.color-blue {
    color: #4d53f9;
}
.color-light-blue {
    color: #3ea0fc;
}

.bg-light {
    background: #F7FAFC;
}
.bg-relative {
    position: relative;
}
.bg-cover {
    background-size: cover !important;
}
.bg-overlay {
    position: relative;
    background-size: cover !important;
    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: rgba(10, 24, 81, 0.88);
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .bg-z-index {
        position: relative;
        z-index: 2;
    }
}
.bg-parallax {
    background: fixed;
}

.pd-top-60 {
    padding-top: 60px;
}
.pd-top-90 {
    padding-top: 90px;
}
.pd-top-100 {
    padding-top: 100px;
}
.pd-top-110 {
    padding-top: 110px;
}
.pd-top-115 {
    padding-top: 115px;
}
.pd-top-120 {
    padding-top: 120px;
}
.mg-top-120 {
    margin-top: 120px;
}


.pd-bottom-70 {
    padding-bottom: 70px;
}
.pd-bottom-90 {
    padding-bottom: 90px;
}
.pd-bottom-100 {
    padding-bottom: 100px;
}
.pd-bottom-110 {
    padding-bottom: 110px;
}
.pd-bottom-115 {
    padding-bottom: 115px;
}
.pd-bottom-120 {
    padding-bottom: 120px;
}

.mg-top--82 {
    margin-top: -82px;
}
.mg-top--82-2 {
    margin-top: -82px;
}