/*------------------------------------------------
    blog style
------------------------------------------------*/
.page-title-area {
    padding: 212px 0 116px 0;
    position: relative;
    .breadcrumb-inner {
        position: relative;
        z-index: 3;
    }
    .page-title {
        font-weight: 700;
        margin-bottom: 15px;
    }
    .page-list {
        list-style: none;
        padding: 0;
        margin: 0;
        background: rgba(255, 255, 255, 0.1);
        padding: 5px 0;
        border-radius: 40px;
        display: inline-block;
        li {
            font-size: 16px;
            font-weight: 400;
            display: inline-block;
            a {
                position: relative;
                margin-right: 11px;
                padding-right: 11px;
                &:hover {
                    color: #565872;
                }
                &:after {
                    position: absolute;
                    right: 0;
                    top: -1px;
                    content: '/';
                    height: 15px;
                    width: 1px;
                }
            }
        }
    }
}

/*------------------------------------------------
    blog style
------------------------------------------------*/
.single-blog-inner {
    margin-bottom: 30px;  
    border-radius: 7px;
    transition: 0.4s;
    border: 1px solid #eee;
    .thumb {
        position: relative;
        overflow: hidden;
        img {
            transform: scale(1.05);
            transition: 0.9s;
        }
        .date {
            position: absolute;
            left: 30px;
            bottom: 20px;
            height: 35px;
            line-height: 35px;
            padding: 0 15px;
            background: var(--main-color);
            display: inline-block;
            color: #fff;
            border-radius: 2px;
        }
    }
    .blog-meta {
        margin-bottom: 15px;
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            display: inline-block;
            margin-right: 15px;
            color: var(--heading-color);
            i {
                margin-right: 4px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .details {
        padding: 25px 30px 30px 30px;
        span {
            color: var(--main-color);
            font-size: 14px;
            margin-bottom: 7px;
            display: inline-block;
        }
        h4 {
            margin-bottom: 15px;
            &:hover a {
                color: var(--main-color);
            }
        }
        .title {
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 20px;
        }
        .btn-base-m {
            height: 48px;
            line-height: 48px;
        }
    }
    &:hover {
        .thumb {
            img {
                transform: scale(1.1);
            }
        }
    }
    &.style-2 {
        border: 0;
        .thumb {
            border-radius: 5px;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.5);
            }
        }
        .details {
            margin: 15px;
            margin-top: -70px;
            position: relative;
            z-index: 2;
            background: #fff;
            padding: 20px 25px;
            border-radius: 5px;
            box-shadow: $box-shadow;
            .cat a {
                font-size: 13px;
            }
            h5 {
                font-size: 16px;
            }
            ul {
                margin: 0;
                padding: 0;
                li {
                    font-size: 11px;
                }
            }
        }
    }
    &.style-3 {
        border: 0;
        position: relative;
        border-radius: 7px;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
        }
        .details {
            position: absolute;
            z-index: 3;
            bottom: 0;
            .cat a {
                color: #fff;
                font-size: 15px;
            }
            h4 {
                color: #fff;
                margin-bottom: 7px;
                margin-top: 5px;
            }
            h4 {
                margin-top: 5px;
            }
            ul {
                margin: 0;
                padding: 0;
                li {
                    font-size: 13px;
                    color: #fff;
                }
            }
        }
    }
}

/************ page navigation ************/
.td-page-navigation {
    .pagination {   
        display: inline-flex;
        margin: 10px 0 0 0;
        .pagination-arrow {
            a {
                border: 0;
                @include transition(all, .4s, ease);
                &:hover {
                    border: 0;
                }
            }
        }
        li {
            a {
                height: 55px;
                width: 55px;
                margin-right: 15px;
                border: 0;
                border-radius: 4px;
                background-color: #F9F9F9;
                line-height: 57px;
                text-align: center;
                text-decoration: none;
                @include transition(all, .4s, ease);
                display: block;
                color: var(--heading-color);
                font-size: 18px;
                &:active,   
                &:focus,    
                &:hover {
                    background: var(--main-color);
                    color: #fff;

                }
                &.active {
                    background: var(--main-color);
                    color: #FFF;
                }       
            }
        }
    }
}

/******** blog-details-page-content ***********/
.blog-details-page-content {
    .single-blog-inner {
        box-shadow: none !important;
        border-radius: 0;
        border: 0;
        .details {
            padding: 0;
            margin-top: 22px;
        }
    }
    blockquote {
        background: #F7FAFC;
        padding: 30px 40px;
        font-weight: 500;
        margin-top: 30px;
        margin-bottom: 30px;
        font-style: italic;
        position: relative;
        img {
            position: absolute;
            top: 30px;
            left: 30px;
        }
        .name {
            position: relative;
            padding-left: 50px;
            margin-bottom: 0;
            &:before {
                content: '';
                position: absolute;
                top: 14px;
                left: 0;
                height: 1px;
                width: 40px;
                background: var(--main-color);
            }
        }
    }
}

/*********** tag-and-share ************/
.tag-and-sharea-area {
    margin-top: 45px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    .tags {
        a {
            font-size: 15px;
        }
    }
    strong {
        color: var(--heading-color);
        margin-right: 6px;
    }
    .social-media-2 {
        li {
            a {
                color: var(--paragraph-color);
            }
        }
    }
}

/******* blog-comment *******/
.blog-comment {
    margin-top: 62px;
    .section-title {
        h3 {
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 22px;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 60px;
                background: var(--main-color);
            }
        }
    }
    .media {
        margin-bottom: 35px;
        padding-bottom: 28px;
        border-bottom: 1px solid #e9eaea;
        a {
            img {
                border-radius: 50%;
                height: 100px;
                width: 100px;
            }
        }
        .media-body {
            margin-left: 30px;
            position: relative;
            h5 {
                margin-bottom: 0;
            }
            .date {
                font-size: 14px;
                display: block;
                margin-bottom: 13px;
            }
            p {
                color: #5a6378;
                margin-bottom: 12px;
            }
            .btn {
                position: absolute;
                right: 0;
                top: 0;
                height: 35px;
                line-height: 35px;
                font-size: 14px;
                padding: 0 15px;
            }
        }
    }
}
.blog-comment-form {
    h3 {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 42px;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 60px;
            background: var(--main-color);
        }
    }
}