/*----------------------------------------------
    ## All section style
----------------------------------------------*/
.single-intro-inner {
	padding: 30px 16px 23px 16px;
	background: #fff;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	transition: $transition;
	box-shadow: $box-shadow;
	border-radius: 6px;
	&:hover {
		background: var(--main-color);
		.thumb {
			img {
				filter: brightness(999);
			}
		}
		.details {
			p,
			.title {
				color: #fff;
			}
			.title a {
				color: #fff;
			}
		}
	}
	&.single-intro-inner-active {
		background: var(--main-color);
		.thumb {
			img {
				filter: brightness(999);
			}
		}
		.details {
			p,
			h4 {
				color: #fff;
			}
		}
	}
	.thumb {
		margin-bottom: 15px;
		img {
			width: auto !important;
			display: inline-block;
			transition: $transition;
		}
	}
	.details {
		h4 {
			margin-bottom: 11px;
			transition: $transition;
		}
		.title {
			transition: 0.4s;
			a {
				margin-top: 0;
			}
		}
		p {
			transition: $transition;
			margin-bottom: 0;
		}
		a {
			margin-top: 8px;
			display: inline-block;
			transition: 0.4s;
		}
	}
	&.media {
		.media-left {
			margin-right: 20px;
		}
	}
	&.style-category {
		padding: 30px 20px;
		.thumb {
			margin-bottom: 0;
			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
		}
		&:hover {
			background: none;
			box-shadow: 0px 20px 50px rgba(9, 21, 77, 0.1);
			.thumb {
				img {
					filter: brightness(1);
				}
			}
			.details {
				p,
				.title,
				.title a {
					color: var(--main-color);
				}
			}
		}
	}
	&.style-large {
		padding: 35px;
		&:hover {
			background: #fff;
		}
	}
}
.intro-slider {
	.owl-nav {
		display: none;
	}
}


/******** category ***********/
.category-slider {
	.single-intro-inner {
		margin-bottom: 0;
		margin: 20px 15px;
	}
	button {
	    background: transparent;
    	border: 0;
    	position: absolute;
		top: 50%;
		margin-top: -15px;
		visibility: hidden;
		opacity: 0;
		transition: 0.4s;
	}
	.owl-prev {
		left: 15px;
	}
	.owl-next {
		right: 15px;
	}
	&:hover {
		button {
			visibility: visible;
			opacity: 1;
		}
		.owl-prev {
			left: -15px;
		}
		.owl-next {
			right: -15px;
		}
	}
}



/************* single-list-box *************/
.single-list-wrap {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.single-list-inner {
	margin-bottom: 5px;
	i {
		font-size: 15px;
		margin-right: 9px;
		color: var(--main-color);
	}
}


/************** about-thumb-wrap ***************/
.about-thumb-wrap {
	position: relative;
	img {
		border-radius: 5px;
	}
	&.about-left-thumb {
		.img-1 {
			position: absolute;
			left: 0;
			top: -20px;
			z-index: -1;
			animation: top-image-bounce 3s infinite ease-in-out;
		}
		.img-3 {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
	&.about-right-thumb {
		.img-1 {
			position: absolute;
			left: -40px;
			top: -30px;
			z-index: -1;
			animation: top-image-bounce 3s infinite ease-in-out;
		}
		.img-3 {
			position: absolute;
			right: 20px;
			bottom: -30px;
			z-index: -1;
			animation: top-image-bounce 3s infinite ease-in-out;
		}
		.about-quote {
			position: absolute;
			left: 0;
			bottom: 60px;
		}
		.exp-inner-wrap {
			animation: top-image-bounce 3s infinite ease-in-out;
		}
	}
	.about-quote {
		box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.07);
		padding: 25px;
		width: 190px;
		text-align: left;
		font-weight: 700;
		color: #120F2D;
		background: #fff;
		border-radius: 5px;
		img {
			position: absolute;
			left: 25px;
			top: 25px;
			z-index: 0;
		}
	}
	&.about-right-exp {
		padding-right: 80px;
	}
	.exp-inner-wrap {
		max-width: 190px;
		padding: 20px;
		border-radius: 5px;
		position: absolute;
		top: 50px;
		right: 0;
	}
}

.home-1-about {
	background-position: 0 100%;
	background-repeat: no-repeat;
}

/************** single-team ***************/
.single-team-inner {
	margin-bottom: 30px;
	@include transition(all, .3s);
	border-radius: 7px;
	overflow: hidden;
	position: relative;
	.thumb {
		overflow: hidden;
		position: relative;
		border-radius: 7px;
		img {
			@include transition(all, 0.9s);
			@include transform(scale(1.05));
		}
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(61, 114, 252, 0.9);
			visibility: hidden;
			opacity: 0;
			@include transition(all, .5s,ease-in-out);
		}
	}
	.social-media {
		padding: 20px;
	    position: absolute;
	    left: 0;
	    bottom: 65px;
	    display: inline-block;
        width: 100%;
	    li {
	    	opacity: 0;
		    z-index: 9;
		    @include transform(translateY(50%));
			@include transition(all, .5s);
			padding: 4px 0;
			&:first-child {
			    padding-top: 0;
			    transition-delay: .1s;
			}
			&:nth-child(2) {
				transition-delay: .2s;
			}
			&:nth-child(3) {
				transition-delay: .3s;
			}
			&:nth-child(4) {
				transition-delay: .4s;
				padding-bottom: 0;
			}
		}
	}
	.details {
	    padding: 25px 25px 24px;
	    margin: 20px;
	    margin-top: -60px !important;
	    position: relative;
	    z-index: 2;
	    background: #fff;
		box-shadow: $box-shadow;
		border-radius: 6px;
		h4 {
			margin-bottom: 5px;
			&:hover a {
				color: var(--heading-color);
			}
		} 
		span {
			font-size: 15px;
			margin: 7px 0 0;
			color: var(--main-color);
		}
	}
	&.style-overlay {
		transition: 0.7s;
		.social-media {
			padding: 30px 40px;
		}
		.details {
			position: absolute;
			top: 0;
			left: -10px;
			visibility: hidden;
			opacity: 0;
			transition: 0.7s;
			padding: 40px;
			h4 {
				color: #fff;
			} 
			span {
				color: #fff;
				position: relative;
				padding-left: 40px;
				&:after {
					content: '';
					position: absolute;
					width: 30px;
					height: 1px;
					top: 10px;
					left: 0;
					background: #fff;
				}
			}
		}
	}
	&:hover {
		.thumb {
			&:after {
				visibility: visible;
				opacity: 1;
			}
		}
		img {
			@include transform(scale(1.1));
		}
		.social-media {
			li {
				opacity: 1;
				@include transform(translateY(0));
			}
		}
		.details {
			box-shadow: $box-shadow2;
		}
		&.style-overlay {
			background: red;
			.details {
				visibility: visible;
				opacity: 1;
				left: 0;
			}
		}
	}
}

/*********** counter-list-inner ***********/
.counter-area-bg {
	padding: 30px 0 0 0;
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: center;
}
.counter-list-inner {
	background: #fff;
	border-radius: 5px;
	padding: 25px;
	margin-bottom: 30px;
	box-shadow: $box-shadow;
	.media-left {
		margin-right: 16px;
	}
	.details {
		h2 {
			margin-bottom: 0;
			font-size: 30px;
			color: var(--main-color);
		}
		p {
			margin-bottom: 0;
			font-weight: 600;
		}
	}
}

/********* video-inner **********/
.video-thumb {
	position: relative;
	.video-play-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
}
.video-inner {
	height: 100%;
	background-size: cover !important;
	border-radius: 7px;
	overflow: hidden;
	position: relative;
	min-height: 300px;
	.video-play-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

/************ single-testimonial-inner *************/
.single-testimonial-inner {
	background: #fff;
	padding: 35px;
	border-radius: 7px;
	overflow: hidden;
	margin-bottom: 30px;
	position: relative;
	box-shadow: $box-shadow;
	.side-icon {
		width: 70px !important;
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 0;
	}
	.media {
		margin-top: 25px;
		.media-left {
			margin-right: 10px;
			img {
				height: 60px;
				width: 60px;
				border-radius: 50%;
			}
		}
		.media-body {
			margin-top: 4px;
			h6 {
				margin-bottom: 2px;
			}
		}
	}
	.review-inner {
		margin-top: 20px;
		i {
			color: #cc6208;
		}
	}
}
.testimonial-slider {
	.owl-nav {
		display: none;
	}
	.owl-dots {
		text-align: center;
	}
	.single-testimonial-inner {
		margin: 15px;
	}
}


/********* siksha tab style ************/
.siksha-tab-inner {
	border: 0 !important;
	margin-bottom: 40px;
    a {
    	border: 0 !important;
	    box-shadow: $box-shadow;
	    height: 45px;
	    line-height: 45px;
	    padding: 0 25px;
	    background-color: #fff;
	    border-radius: 3px !important;
	    margin: 0 6px;
	    display: inline-block;
	    font-weight: 500;
	    &.active {
	    	background-color: var(--main-color) !important;
	    	color: #fff !important;
	    }
    }
}


/********* single-event-inner **********/
.single-event-inner {
	box-shadow: $box-shadow;
	border-radius: 6px;
	padding: 20px;
	margin-bottom: 30px;
	.media-left {
		margin-right: 25px;
	}
	.media-body {
		position: relative;
		.right-arrow {
			position: absolute;
			right: 0;
			top: 0;
			height: 35px;
			width: 35px;
			box-shadow: $box-shadow;
			border-radius: 50%;
			text-align: center;
			line-height: 35px;
			transition: 0.4s;
			&:hover {
				background: var(--main-color);
				color: #fff;
			}
		}
		.date {
			margin-bottom: 3px;
		}
		.content {
			border-top: 1px solid #dbdbdb;
			padding-top: 10px;
			margin-top: 10px;
		}
		h6 {
			margin-bottom: 3px;
		}
		.designation {
			margin-bottom: 0;
			font-size: 12px;
		}
	}
}


/************ subscribe-area-inner ************/
.applicationform-area-inner {
	input {
		width: 100%;
		height: 52px; 
	}
}
.applicationform-area {
    background-size: 100% 179%;
    background-repeat: no-repeat;
}


.single-subscribe-inner {
	position: relative;
	input {
		width: 100%;
		border: 1px solid #DFDFDF;
		height: 65px;
		border-radius: 5px;
		padding: 0 130px 0 20px;
	}
	.btn {
		position: absolute;
		right: 6px;
		top: 6px;
		padding: 0 25px;
	}
	&.style-two {
		input {
			border: 0;
			height: 60px;
		}
		.btn {
			right: 0;
			top: 0;
			height: 60px;
			line-height: 60px;
		}
	}
}


/********** client-area **********/
.client-slider {
	cursor: pointer;
	.item {
		img {
			width: auto;
			margin: auto;
		}
	}
	.owl-nav {
		display: none;
	}
}
.single-client-inner {
	margin-bottom: 50px;	
}

/************** signin area **************/
.signin-inner {
    background: #f2f3f5;
    padding: 60px 50px 56px;
    border-radius: 7px;
    strong {
    	color: var(--heading-color);
    	transition: $transition;
    	&:hover {
    		color: var(--main-color);
    	}
    }
}
.single-checkbox-inner {
    margin-bottom: 20px;
}


/*********  single-contact-info ***********/
.single-contact-info {
	background: #F7FAFC;
	padding: 30px 30px 26px;
	.thumb {
		margin-right: 20px;
	}
	.details {
		p {
			margin-bottom: 0;
		}
	}
}

/************** contact area **************/
.contact-page-thumb {
	height: 100%;
	width: 100%;
	background-size: cover !important;
	min-height: 400px;
}
.contact-g-map {
	margin-bottom: -11px;
	iframe {
		line-height: 1 !important;
		border: 0;
		width: 100%;
		height: 450px;
	}
}

.contact-form-inner {
	background: #F7FAFC;
	padding: 50px;
}


.become-area {
	position: relative;
	padding-top: 45px;
	padding-bottom: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	&:before {
        content: '';
        position: absolute;
		z-index: -1;
		content: "";
		background-color: #fafdff;
		height: 100%;
		width: 50%;
		top: 0;
		right: 0;
    }
    &:after {
        content: '';
        position: absolute;
	    z-index: -1;
	    content: "";
	    background-color: #f6f3ed;
	    height: 100%;
	    width: 50%;
	    top: 0;
	    left: 0;
    }
}
.become-area-inner {
	position: relative;
	z-index: 3;
}


.single-accordion-inner {
	border: 0 !important;
	box-shadow: $box-shadow;
	margin-bottom: 30px;
	border-radius: 6px;
	.card-header {
		background: #fff;
		padding: 5px 30px;
		border: 0;
		button {
		    padding: 0;
    		display: block;
    		width: 100%;
			text-align: left;
			text-decoration: none;
			color: var(--heading-color);
			font-size: 18px;
			&:before {
				content: '\f107';
				font-family: FontAwesome;
				position: absolute;
				right: 0;
				top: 1px;
			}
			&.collapsed {
				&:before {
					content: '\f107';
					font-family: FontAwesome;
					position: absolute;
					right: 0;
					top: 1px;
					visibility: visible;
					opacity: 0;
				}
				&:after {
					content: '\f105';
					font-family: FontAwesome;
					position: absolute;
					right: 0;
					top: 1px;
				}
			}
		}
	}
	.card-body {
		border-top: 1px solid #eee;
		padding-left: 30px;
		padding-right: 30px;
	}
}


.single-list-inner {
	&.style-check {
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
			}
		}
	}
}


.course-details-content {
	h4 {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 14px;
	}
	.single-list-inner {
		padding-top: 16px;
	}
	.course-feature-area {
		background: #F6F6F6;
		padding: 30px 30px 20px 30px;
		border-radius: 6px;
		margin-top: 30px;
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
				margin-bottom: 10px;
				color: #54606c;
			}
		}
	}
}