/*---------------------------------------------------
	widget styles
----------------------------------------------------*/
.td-sidebar .widget {
    margin-bottom: 34px;
    background: #fff;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid #eee;
    .widget-title {
        margin-bottom: 30px;
        font-size: 22px;
        position: relative;
        border-bottom: 2px solid rgba(66, 74, 97, 0.1);
        padding-bottom: 8px;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            height: 2px;
            width: 70px;
            background: var(--main-color);
        }
    }
}

.widget_search {
	border: 1px solid #eee;
}
.widget_search .search-form {
	position: relative;
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
}
.widget_search .search-form .form-group {
  	margin-bottom: 0;
}
.widget_search .search-form input {
	width: 100%;
	border: 0;
	height: 60px;
	background: transparent;
	padding: 0 88px 0 22px;
    background: #F9F9F9;
}
.widget_search .search-form input:focus {
	border: 0;
	outline: 0;
}
.widget_search .search-form button {
    position: absolute;
    right: 0;
    border: 0;
    background: var(--main-color);
    cursor: pointer;
    padding: 0 24px;
    top: 0;
    height: 60px;
}
.widget_search .search-form button i {
    color: rgba(255, 255, 255, 0.8);
}
.widget_search .search-form button:active, .widget_search .search-form button:focus {
    box-shadow: none;
    outline: 0;
}

.widget-recent-post ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 9px;
    padding-bottom: 0;
}
.widget-recent-post ul li {
    border-bottom: 1px solid rgba(66, 74, 97, 0.1);
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.widget-recent-post ul li .media {
    align-items: center;
}
.widget-recent-post ul li .media .media-left {
    margin-right: 18px;
}
.widget-recent-post ul li .media .media-left img {
    border-radius: 4px;
}
.widget-recent-post ul li .media .media-body .title {
    margin-bottom: 8px;
    font-size: 15px;
}
.widget-recent-post ul li .media .media-body .post-info {
    font-size: 13px;
    color: var(--heading-color);
}
.widget-recent-post ul li .media .media-body .post-info span {
    color: #3F517E;
}
.widget-recent-post ul li .media .media-body .post-info i {
    margin-right: 10px;
}
.widget-recent-post ul li:last-child {
    border-bottom: 0 !important;
    padding-bottom: 0;
    margin-bottom: 0;
}

//widget-catagory
.widget_catagory ul {
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: -5px;
}
.widget_catagory ul li {
    list-style: none;
    transition: 0.6s;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(66, 74, 97, 0.1);
    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
.widget_catagory ul li a {
    position: relative;
    img {
        position: absolute;
        left: 0;
        top: 6px;
        visibility: hidden;
        opacity: 0;
        transition: 0.6s;
    }
    &:hover {
    	color: var(--main-color);
        padding-left: 20px;
        img {
            visibility: visible;
            opacity: 1;
        }
    }
}
.widget_catagory ul li a i {
    padding-right: 10px;
    color: var(--main-color);
    position: absolute;
    left: 0;
    top: 2px;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}
.widget_catagory ul li:hover a i {
    visibility: visible;
    opacity: 1;
}
.widget_catagory ul li:last-child {
    margin-bottom: 0;
}

//widget-tags
.widget_tags .tagcloud a {
    border: 1px solid #E3E3E3;
    height: 36px;
    line-height: 36px;
    padding: 0 18px;
    border-radius: 4px;
    display: inline-block;
    margin: 0 5px 9px 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #909090;
}
.widget_tags .tagcloud a:hover {
    background: var(--main-color);
    color: #ffffff;
    border-color: var(--main-color);
}


/*********** widget_checkbox_list ************/
.widget_checkbox_list {
    .single-checkbox:last-child {
        margin-bottom: 0;
        border-bottom: 0;
        padding-bottom: 0;
    }
}
.single-checkbox {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    font-size: 16px;
    color: var(--heading-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #E3E3E3;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
            background-color: var(--main-color);
        }
        &:checked ~ .checkmark:after {
            display: block;
        }
    }   
    .checkmark {
        position: absolute;
        top: 4px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #EAE1D6;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 8px;
            top: 4px;
            width: 5px;
            height: 10px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }  
}


/******** widget-video-inner *********/
.widget-video-inner {
    border-radius: 5px;
    .thumb {
        position: relative;
        border-radius: 5px;
        overflow: hidden; 
        margin-bottom: 20px;
        &:after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.3);
        }
        .video-btn {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
            line-height: 52px;
            z-index: 1;
            i {
                font-size: 18px;
            }
            &:after {
                width: 70px;
                height: 70px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .details {
        margin-top: 10px;
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                text-align: right;
                display: flex;
                align-items: baseline;
                border-bottom: 1px dashed #E3E3E3;
                padding-bottom: 10px;
                margin-bottom: 10px;
                &:last-child {
                    border-bottom: 0;
                }
                i {
                    color: var(--main-color);
                    margin-right: 7px;
                }
                span {
                    margin-right: auto;
                    font-weight: 500;
                    color: var(--heading-color);
                }
            }
        }
    }
}


/******** widget-contact *********/
.widget_contact {
    .details {
        padding: 0;
        li {
            margin-bottom: 18px;
            position: relative;
            padding-left: 25px;
            list-style: none;
            i {
                margin-right: 14px;
                position: absolute;
                left: 0;
                top: 6px;
                color: var(--main-color);
            }
            &:last-child {
                margin-bottom: 0;
            }
            .time {
                font-size: 12px;
                margin-top: 3px;
            }
        }
    }
    .social-media {
        li {
            a {
                color: var(--main-color);
                &:hover {
                    background: var(--main-color);
                    color: #fff;
                }
            }
        }
    }
}

/******** widget-video-inner *********/
.widget-video-inner { 
    .details {
        .event-g-map {
            iframe {
                border: 0 !important;
            }
        }
    }
}